<div class="padding-bottom-45">

    <h3>
        <span>修改密码</span>
    </h3>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="save()">
        <nz-form-item>
            <nz-form-label for="CurrentPassword">{{l("CurrentPassword")}}</nz-form-label>
            <nz-form-control nzHasFeedback>
                <input nz-input type="password" formControlName="orgPassword" id="orgPassword" [(ngModel)]="currentPassword">
                <nz-form-explain *ngIf="validateForm.get('orgPassword').dirty&&validateForm.get('orgPassword').hasError('required')">请输入原密码</nz-form-explain>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label for="NewPassword">{{l("NewPassword")}}</nz-form-label>
            <nz-form-control nzHasFeedback>
                <input nz-input type="password" formControlName="newPassword" id="newPassword" [(ngModel)]="password">
                <nz-form-explain *ngIf="validateForm.get('newPassword').dirty&&validateForm.get('newPassword').hasError('required')">请输入新密码</nz-form-explain>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label for="NewPasswordRepeat">{{l("NewPasswordRepeat")}}</nz-form-label>
            <nz-form-control nzHasFeedback>
                <input nz-input type="password" formControlName="checkPassword" id="checkPassword" [(ngModel)]="confirmPassword">
                <nz-form-explain *ngIf="validateForm.get('checkPassword').dirty&&validateForm.get('checkPassword').hasError('required')">请确认密码</nz-form-explain>
                <nz-form-explain *ngIf="validateForm.get('checkPassword').dirty&&validateForm.get('checkPassword').hasError('confirm')">两次输入的密码必须一致</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <!-- 功能按钮 -->
        <div class="custom-modal-footer">
            <div class="custom-modal-footter-group">
                <button nz-button type="button" [disabled]="saving" (click)="close()">
                    {{l("Cancel")}}
                </button>
                <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">
                    {{l("Save")}}
                </button>
            </div>
        </div>

    </form>
</div>